<!-- -->
<launch>
    <node pkg="object_slam" type="object_slam_node" name="object_slam" output="screen">	
    </node>
    
    <param name="base_folder" value="$(find object_slam)/data/" />
    <param name="online_detect_mode" value="true" />  # detect cuboid online or read offline matlab txt
    <param name="whether_use_ground_value" value="true" />  # read offline txt with ground value or local value
    <param name="whether_use_3d_IoU" value="false" />
    <param name="save_results_to_txt" value="false" />
    <param name="magic_number" value="20" />

    <!-- launch rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find object_slam)/rviz/object_slam.rviz"/>	
	
</launch>
